<div class="columns-panel-input-area">
	<div class="columns-panel-input-icon">
		<i class="icon-title"></i>
	</div>
	<div class="columns-panel-input">
		<label class="columns-panel-input-label">Table Title</label>
		<input type="text" placeholder="My Table" data-property="title" {{#if title}}value="{{title}}"{{/if}}>
	</div>
</div>
<div class="columns-panel-input-group">
	<div class="columns-panel-input-area">
		<div class="columns-panel-input-icon">
			<i class="icon-source"></i>
		</div>
		<div class="columns-panel-input">
			<label class="columns-panel-input-label">Data Source</label>
			<input type="text" placeholder="The Data Authority" data-property="source" {{#if source}}value="{{source}}"{{/if}}>
		</div>
	</div>
	<div class="columns-panel-input-area">
		<div class="columns-panel-input-icon">
			<i class="icon-link"></i>
		</div>
		<div class="columns-panel-input">
			<label class="columns-panel-input-label">Source URL</label>
			<input type="url" placeholder="http://thedataauthority.com" data-property="source_url" {{#if source_url}}value="{{source_url}}"{{/if}}>
		</div>
	</div>
</div>
<div class="columns-panel-textarea-area" id="embed-code">
	<div class="columns-panel-textarea-icon">
		<i class="icon-code"></i>
	</div>
	<div class="columns-panel-input">
		<label class="columns-panel-textarea-label">Embed Code</label>
		<textarea readonly ><script type="text/javascript" src="{{host}}/public/embed-table.js" data-table-id="{{table_id}}" async></script></textarea>
		<button class="columns-button button-small button-tertiary">
			Copy Embed Code
		</button>
	</div>
</div>