<div class="style-component-section-row-segmentedButton {{kind}}" {{#if property}}data-property='{{property.name}}'{{/if}}>
	{{#buttons}}
		<button data-property='{{property.name}}'
				data-active-value='{{values.active}}'
				data-inactive-value='{{values.inactive}}'
				class="{{#ifIsCurrentValue values.active property.current_value}}active{{/ifIsCurrentValue}}">
			{{#if icon}}<i class="icon-{{icon}}"></i>{{/if}}
			{{#if text}}<span></span>{{/if}}
		</button>
	{{/buttons}}
</div>