<div class="style-component-section-row-item">
	<div class="style-component-section-row-segmented-button {{kind}}" {{#if property}}data-property='{{property}}'{{/if}}>
		{{#buttons}}
			<button data-value='{{value}}' class="{{#ifIsCurrentValue value ../value }}active{{/ifIsCurrentValue}}">
				{{#if icon}}<i class="icon-{{icon}}"></i>{{/if}}
				{{#if text}}<span></span>{{/if}}
			</button>
		{{/buttons}}
	</div>
	<label class='style-component-section-row-item-label'>{{label}}</label>
</div>