<div class="style-component">
	<div class="style-component-header">
		<i class="icon-{{type}} style-component-header-icon"></i>
		<span class="style-component-header-title">{{name}}</span>
	</div>
	<div class="style-component-body">
		{{!-- {{#styles}}
		<div class="style-component-section">
			<div class="style-component-section-title">
				{{title}}
			</div>
			<div class="style-component-section-rows">
				{{#rows}}
					<div class="style-component-section-row">
						{{#items}}
							<div class="style-component-section-row-item">
								{{#ifIsInput kind}}
									{{> input}}
								{{/ifIsInput}}
								{{#ifIsSingleSegmentedButton kind}}
									{{> single-segmented-button}}
								{{/ifIsSingleSegmentedButton}}
								{{#ifIsMultipleSegmentedButton kind}}
									{{> multiple-segmented-button}}
								{{/ifIsMultipleSegmentedButton}}
								<label class='style-component-section-row-item-label'>{{label}}</label>
							</div>
						{{/items}}
					</div>
				{{/rows}}
			</div>
		</div>
		{{/styles}} --}}
		{{!-- {{{partial type this}}} --}}
	</div>
</div>